<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  {% load static %}
  {% load crispy_forms_tags %}

  {# ADD CSS #}

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Scroll Page CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css">

  <!-- Local CSS -->
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  <link rel="icon" href="{% static 'home/img/favicon.png' %}" sizes="16x16 32x32" type="image/png">

</head>
<body>
  <div id="wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pull-left" href="{% url 'home:index' %}"><img src="{% static 'home/img/365DE_mini_logo.png' %}" id="brand-logo" alt=""></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% comment %}
        <ul class="nav navbar-nav text-center">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'products:shirts' %}">Shirts</a></li>
              <li><a href="{% url 'products:jackets' %}">Jackets</a></li>
              <li><a href="{% url 'products:hats' %}">Hats</a></li>
              <li><a href="{% url 'products:backpacks' %}">Backpacks</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'products:custom_items' %}">Custom Items</a></li>
            </ul>
          </li>
          <li><a href="#">Services <span class="sr-only">(current)</span></a></li>
        </ul>
        {% endcomment %}

        <ul class="nav navbar-nav navbar-right text-center">
          <li><a href="#">Contact Us</a></li>
          <li><a href="{% url 'about:about' %}">About Us</a></li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content">
  <div class="container">
    <div class="panel panel-default sign-up-panel">
      <div class="panel-body">
        <div class="row text-center">
          <h1>Sign Up</h1> <br>
        </div>

        <form id="register-form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
              {{ form|crispy }}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
              <input type="submit" class="btn btn-primary btn-lg" id="signup-btn" value="Sign Up">
            </div>
          </div>
        </form> <br>

        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
            <p class="text-muted">Already have an account? <a href="{% url 'login'%}" class="text-info">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <button type="button" name="button" class="back-to-top" data-placement="left" data-toggle="tooltip" title="Back to Top"><span class="glyphicon glyphicon-chevron-up"></span></button>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center"><img src="{% static 'home/img/365DE_mini_logo.png' %}" alt=""></div>
        <div class="col-lg-2 text-center"><a href="{% url 'home:index' %}">Home</a></div>
        <div class="col-lg-2 text-center"><a href="{% url 'contact:contact' %}">Contact Us</a></div>
        <div class="col-lg-2 text-center"><a href="{% url 'about:about' %}">About Us</a></div>
        {% if not current_user %}
        <div class="col-lg-2 text-center"><a href="{% url 'login' %}">Sign In</a></div>
        <div class="col-lg-2 text-center"><a href="{% url 'register' %}">Sign Up</a></div>
        {% else %}
        <div class="col-lg-2 text-center"><a href="{% url 'cart:cart' %}">Your Cart</a></div>
        <div class="col-lg-2 text-center"><a href="{% url 'orders:orders' %}">Your Orders</a></div>
        {% endif %}
      </div><br>
      <div class="row">
        <div class="col-lg-12"><p class="text-muted text-center">Copyright (c) 2017 365 Digitizing and Embroidery All Rights Reserved.</p></div>
      </div>
    </div>
  </div>
</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Full Page JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.extensions.min.js"></script>
  <!-- Local JS -->
  <script src="{% static 'home/js/main.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.sign-up-panel').fadeIn();
    });
    $(document).ready(function() {
      var myvar = 100;
      var offset = 250;
      var duration = 300;

      $(window).scroll(function() {
        if ($(this).scrollTop() > offset) {
          $(".back-to-top").fadeIn(duration);
        } else {
          $(".back-to-top").fadeOut(duration);
        }
      });

      $(".back-to-top").click(function(event) {
        event.preventDefault();

        $("html, body").animate({scrollTop: 0}, duration);

        return false;
      });
    });


    $('.back-to-top').on('mouseenter', function(){
      $('.back-to-top').tooltip('show');
    });

    $('.back-to-top').on('mouseleave', function(){
      $('.back-to-top').tooltip('hide');
    });
  </script>


</body>
</html>
